

body {
  font-family: 'Open Sans', sans-serif;
  background: url(../images/codeSplash50.png);
  background-size: 100%;
  background-repeat: repeat;
  background-attachment: fixed;
}
.navbar-brand.darkbar {
  background-color: #222222;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  height: 50px;
}
.navbar-brand.darkbar:hover {
  background-color: #444444;
}
.navbar {
  background-color: #222222;
  border: 0px;
}
.navbar a {
  text-size: 16px;
  color: #e0e0e0;
}
ul.nav a:hover,
ul.nav a:focus {
  color: #222222;
}
li.dropdown-projects {
  background-color: #2c3e50;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
}
li.dropdown-projects a:hover {
  background-color: #34495e;
  -o-transition: .2s;
  -ms-transition: .2s;
  -moz-transition: .2s;
  -webkit-transition: .2s;
  color: #e0e0e0;
}
li.dropdown-projects.open a:focus {
  background-color: #34495e;
  color: #e0e0e0;
}
a.dropdown-toggle {
  padding-bottom: 15px;
  padding-top: 18px;
  height: 50px;
}
.projects {
  padding-top: 2px;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  background-color: #34495e;
}
.email {
  color: #e0e0e0;
  -o-transition: .4s, width 1s;
  -ms-transition: .4s, width 1s;
  -moz-transition: .4s, width 1s;
  -webkit-transition: .4s, width 1s;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  background-color: #16a085;
  white-space: nowrap;
}
.email:hover {
  background-color: #1abc9c;
  width: 220px;
}
.github {
  color: #e0e0e0;
  -o-transition: .4s, width 1s;
  -ms-transition: .4s, width 1s;
  -moz-transition: .4s, width 1s;
  -webkit-transition: .4s, width 1s;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  background-color: #d35400;
  white-space: nowrap;
}
.github:hover {
  background-color: #e67e22;
  width: 220px;
}
.linkedin {
  position: relative;
  color: #e0e0e0;
  -o-transition: .4s, width 1s;
  -ms-transition: .4s, width 1s;
  -moz-transition: .4s, width 1s;
  -webkit-transition: .4s, width 1s;
  -webkit-backface-visibility: hidden;
  /* Chrome, Safari, Opera */
  backface-visibility: hidden;
  background-color: #c0392b;
  white-space: nowrap;
}
.linkedin:hover {
  background-color: #e74c3c;
  width: 220px;
}
i.fa.fa-folder {
  padding-right: 5px;
  color: #e0e0e0;
}
.social-icons li {
  height: 50px;
  width: 50px;
  padding: 15px;
  padding-left: 16px;
}
.email #emailText {
  padding-left: 7px;
  padding-right: 7px;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  opacity: 0;
  white-space: nowrap;
}
.email:hover #emailText {
  opacity: 1;
}
.github #githubText {
  padding-left: 7px;
  padding-right: 7px;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  opacity: 0;
  white-space: nowrap;
}
.github:hover #githubText {
  opacity: 1;
}
.linkedin #linkedText {
  position: absolute;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 1px;
  -o-transition: 1s;
  -ms-transition: 1s;
  -moz-transition: 1s;
  -webkit-transition: 1s;
  -webkit-transition-delay: .5s;
  transition-delay: .5s;
  opacity: 0;
  white-space: nowrap;
}
.linkedin:hover #linkedText {
  opacity: 1;
}
.splashIMG {
  width: 100%;
  height: 900px;
}
.splashText {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 64px;
  text-align: right;
  color: #e0e0e0;
  padding-top: 10%;
  padding-right: 5%;
}
.splashText .domain {
  font-size: 92px;
  text-shadow: 4px 4px 0 #000;
  font-weight: 700;
}
ul.dropdown-menu {
  background-color: #34495e;
}
ul.dropdown-menu a {
  color: #e0e0e0;
}
ul.dropdown-menu a:hover {
  color: #222222;
}
.project-squares {
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  color: #f9f9f9;
}
.ps1 {
  background-color: #f1c40f;
  height: 280px;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}
.ps1:hover {
  background-color: #f1cc33;
}
.ps2 {
  background-color: #8e44ad;
  height: 280px;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}
.ps2:hover {
  background-color: #9865ad;
}
.ps3 {
  background-color: #3498db;
  height: 280px;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}
.ps3:hover {
  background-color: #5faadb;
}
.ps4 {
  background-color: #1abc9c;
  height: 280px;
  -o-transition: .4s;
  -ms-transition: .4s;
  -moz-transition: .4s;
  -webkit-transition: .4s;
}
.ps4:hover {
  background-color: #4cbc9e;
}
